In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')

# Encode the v1 column with 0 for ham and 1 for spam
df['v1'] = df['v1'].map({'ham': 0, 'spam': 1})

# Remove the Unnamed: 2, Unnamed: 3, and Unnamed: 4 columns
df = df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'])

# Rename the columns to 'label' and 'text'
df = df.rename(columns={'v1': 'label', 'v2': 'text'})

df.head()

   label                                               text
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [7]:
# Get for both classes 500 samples
df_ham = df[df['label'] == 0].sample(n=500, random_state=42)
df_spam = df[df['label'] == 1].sample(n=500, random_state=42)
df = pd.concat([df_ham, df_spam], axis=0)
df = df.sample(frac=1, random_state=42).reset_index(drop=True)
df.to_csv('spam_test.csv', index=False)